.signup-page-container {
    display: grid;
    place-items: center;
}

.signup-page-container h2 {
    color: #194e77;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.signup-page-container hr {
    width: 8rem;
    border: 0;
    height: 3px;
    background: #34a0a4;
    margin-bottom: 2rem;
}

.fail-alert {
    width: 80%;
}

.signup-form {
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 25vw;
    padding: 2rem;
    border-radius: 10px;
}

.signup-form .field-short {
    display: flex;
    justify-content: space-between;
}

.signup-form .MuiTextField-root {
    color: black;
    margin: 7px;
    border-radius: 7px;
}

.signup-form .MuiButton-root {
    width: 50%;
    place-self: center;
    margin-top: 1rem;
}

.signup-form .MuiButton-root a {
    color: white;
    text-decoration: none;
    width: 100%;
}