body {
  display: grid;
  place-items: center;
}

.card {
  width: 800px;
  background-color: rgb(216, 216, 216);
  height: 300px;
  display: grid;
  align-items: center;
  grid-template-areas: "a b b b";
  border-radius: 5px;
}

.card img {
  grid-area: "a";
  width: 200px;
  height: 200px;
  margin-left: 60px;
}

.content {
  font-size: 15px;
  font-weight: normal;
}

.badge {
  font-size: small;
  font-weight: normal;
  padding: 5px;
  border: 3px solid blue;
  border-radius: 15px;
  margin: 2px;
}

.about-btn {
  padding: 5px;
  border: 1px solid green;
  color: green;
  margin: 1px;
  cursor: pointer;
}

.green {
  border-color: green;
  color: green;
}

.blue {
  border-color: blue;
  color: blue;
}

.about {
  grid-area: "b";
}
