.postpage-container {
  display: grid;
  place-items: center;
  font-family: "DM Sans", sans-serif;
}

.postpage-post {
  margin-top: 5rem;
  display: flex;
}

.postpage-postcontent {
  width: 700px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postpage-postcontent img {
  width: 500px;
}

.postpage-desc {
  margin: 2rem;
  padding: 1rem;
  background-color: rgb(239, 239, 239);
  width: 100%;
  border-radius: 10px;
}

.postpage-tags {
  margin: 2rem;
}

.postpage-container .del-btn {
  color: darkgray;
  border-color: darkgray;
}

.postpage-container .del-btn:hover {
  border-color: darkgray;
}

.postpage-container .action-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}