.loginPage {
  display: grid;
  place-items: center;
}

.loginForm {
  width: 700px;
  background-color: rgb(242, 242, 242);
  height: 200px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.loginPage h2 {
  color: #4b4b4b;
  margin-top: 100px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.loginForm .MuiTextField-root {
  color: black;
  background-color: white;
  margin: 5px;
  border-radius: 7px;
  margin: 0.5rem;
}

.loginForm-buttons {
  display: flex;
  margin: 1rem;
}

.loginForm-buttons .MuiButton-root {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 5rem;
}

.MuiButton-root a {
  color: white;
  width: 100%;
  text-decoration: none;
}