.port-section {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.port-sidebar {
  background-color: rgb(223, 236, 247);
  height: 800px;
  display: flex;
  justify-content: center;
}

.port-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(240, 248, 255);
}

.port-profile {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-top: 2rem;
  border-radius: 10px;
}

.port-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
}

#portName {
  margin-top: 0.5rem;
}

.port-icons img {
  width: 40px;
  height: 40px;
}

.port-icons {
  display: flex;
  column-gap: 0.5rem;
  background-color: rgb(193, 209, 222);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.port-proj-card {
  margin: 3rem;
  height: 200px;
}

#projCard {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#projCardCont {
  border-top: solid 1rem rgb(193, 209, 222);
}

.projBadge {
  margin-left: 2rem;
  font-size: 12px;
  font-weight: normal;
  color: rgb(193, 209, 222);
  padding: 5px;
  border: 2px solid rgb(193, 209, 222);
  border-radius: 10px;
  margin: 2px;
}

#port-CardActions {
  justify-content: space-between;
}

.port-vl {
  border-left: 3px solid black;
  margin: 0.25rem;
  /* height: 200px; */
  margin-left: 1rem;
}

.port-prof-skills {
  display: flex;
  width: 200px;
  margin-top: 1rem;
  border-radius: 10px;
  background-color: rgb(193, 209, 222);
  padding: 1rem;
}

.prof-skill-list {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
