.new-post-form-container {
  display: grid;
  place-items: center;
}

.new-post-form-container h2 {
  color: #194e77;
  font-family: "DM Sans", sans-serif;
  padding-bottom: 1rem;
}

.new-post-form-container hr {
  width: 8rem;
  border: 0;
  height: 3px;
  background: #34a0a4;
  margin-bottom: 1rem;
}

.new-post-form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 2em;
  padding: 2em;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  margin-top: 1em;
}

.new-post-form .MuiTextField-root {
  color: black;
  margin: 10px;
  border-radius: 7px;
}

.new-post-form .MuiButton-root {
  width: 50%;
  place-self: center;
}

.new-post-form .MuiButton-root a {
  color: white;
  text-decoration: none;
  width: 100%;
}

#close-btn {
  align-self: flex-end;
}

#post-btn{
  box-shadow: none;
}

#post-btn:hover{
  box-shadow: none;
}