.PostThumbnail {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
}

.MuiCard-root.post-thumb-card {
  display: grid;
  max-width: 500px;
  margin: 10px;
}

.MuiButton-root.view-more-btn {
  margin: 4px;
  background-color: #34a0a4;
}

.MuiButton-root.view-more-btn:hover {
  margin: 4px;
  background-color: #7ac3c6;
}

.thumbBadge {
  font-size: 15px;
  font-weight: normal;
  color: #184e77;
  padding: 5px;
  border: 2px solid#184e77;
  border-radius: 15px;
  margin: 2px;
}

.MuiCardActions-root.card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 160px;
}
