#sitetitle {
  font-family: "DM Sans", sans-serif;
  margin: 1rem;
  margin-left: 3rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 15%;
  padding: 0;
  padding-right: 100px;
}

.navlink {
  list-style: none;
  margin: 0;
}

.navlink a {
  color: #ccc;
  text-decoration: none;
  font-size: 1.2em;
}

#appbar {
  background-color: rgb(25, 78, 119);
}
