.profilePage {
  display: grid;
  place-items: center;
  font-family: "DM Sans", sans-serif;
}

.ProfileCard {
  width: 800px;
  /* background-color: rgb(216, 216, 216); */
  background-color: rgb(242, 242, 242);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  height: 300px;
  display: grid;
  align-items: center;
  grid-template-areas: "a b b b";
  border-radius: 5px;
}

.ProfileCard img {
  grid-area: "a";
  width: 200px;
  height: 200px;
  margin-left: 60px;
}

.ProfileContent {
  font-size: 15px;
  font-weight: normal;
}

.ProfileBadge {
  font-size: 15px;
  font-weight: normal;
  color: #184e77;
  padding: 5px;
  border: 2px solid#184e77;
  border-radius: 15px;
  margin: 2px;
}

.about {
  grid-area: "b";
}

.MuiButton-root.about-btn {
  padding: 5px;
  color: white;
  margin: 4px;
  cursor: pointer;
}

.MuiButton-root.about-btn.blue:hover {
  background-color: #5b83a2;
  color: white;
}

.MuiButton-root.about-btn.green {
  background-color: #34a0a4;
}

.MuiButton-root.about-btn.blue {
  background-color: #184e77;
}

.MuiButton-root.about-btn.green:hover {
  background-color: #7ac3c6;
  color: white;
}

.user h1 {
  margin-right: 600px;
  margin-top: 100px;
  color: #194e77;
}

.userPosts {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

.about-buttons-profile {
  display: flex;
}
