.postPage {
    font-family: Helvetica, Arial, sans-serif;
}


/* Main Div Classes */
.leftSide {
    float: left;
    margin-left: 150px;
}

.rightSide {
    float: right;
}

.postHeaderContainer {
    margin-top: 50px;
    margin-left: 20px;
    width: 800px;
    height: 100px;
}

.postBanner {
    width: 800px;
    height: 100px;
}

.postBanner img {
    max-width: 800px;
    max-height: 400px;
}

.postTitle {
    margin-top: 110px;
    width: 800px;
    height: 100px;
    background-color: cadetblue;
    text-align: center;
}

.postText {
    max-width: 800px;
}

.tagList {
    background-color: rgb(216, 216, 216);
    color: saddlebrown;
    width: 200px;
    float: right;
    text-align: center;
    margin-top: 50px;
    margin-right: 250px;
    list-style: none;
    display: inline-block;
}

/* Specific Classes */
.datePosted {
    color: blueviolet;
}

.profilePicture {
    float: left;
    margin-right: 50px;
}

.profilePicture img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.username {
    font-size: 200%;
}

.MuiButton-root.applyButton {
    padding: 5px;
    color: white;
    background-color: #184e77;
    margin: 4px;
    cursor: pointer;
}

.MuiButton-root.applyButton:hover {
  background-color: #5b83a2;
  color: white;
}

.postTitle h2 {
    padding-top: 20px;
    font-size: 300%
}

